<%= render "layouts/nav" %>
<% if user_signed_in? %>
    <%= link_to "Settings", edit_user_registration_path %>
    <%= link_to "New Artikel", new_artikel_path %>
    <%= link_to "New Game", new_game_path %>
<% end %>
<div class="gamecollection">
    <div class="collectionheader"><%= @user.username %>'s Wishlist<div class="userlist"><%= link_to image_tag("addgame.png"), :user_id => @user.id, user_own_path %></div></div>
    <div class="games">
        <% @wishlist.each do |wishlist| %>
            <%= link_to (image_tag wishlist.game.image.url(:thumb)), wishlist.game %>
            <%= link_to wishlist.game.title, wishlist.game %>
            <% end %>
            <%= link_to image_tag("trashie.png"), user_wishlist_path(@user.wishlist, @user.wishlist), method: :delete %>
        
    </div>
</div>

